.container {
    max-width: 960px;
    margin: 20px auto;
}

img {
    max-width: 100%;
}

.row,
.preview {
    overflow: hidden;
}

.col {
    float: left;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

html,
input {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

.img-export {
    display: block;
}

/* Limit image width to avoid overflow the container */
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
    background-color: #ffffff;
    cursor: default;
    /*border: 1px solid black;*/
}